<h2><%=  @user.name %></h2>
<% if @user.current_quote %>
	<p class = "current"><%= @user.current_quote.body %> - <%= @user.current_quote.author %></p>
<% end %>

<div class="row">
<% if @user == current_user %>
	<div class="span8">
<% else %>
	<div class="span12 ">
<% end %>
<div class = "quotes">
	<h5> All User Quotes </h5>
	<ul class = "quotes">
		<%= render @quotes %>
	</ul>
</div>
</div>
<% if @user == current_user %>
	<div class="span4 ">

	<%= form_for [@user, @quote] do |f| %>
	 	<%= render 'shared/error_messages', object: f.object %>
	 	<div><%= f.hidden_field :id %></div>
	 	<div class = "pull-right">
	    <div class = "field">
		  	<%= f.label :body %>		
	      	<%= f.text_area :body %>
		  	<%= f.label :author %>		
	      	<%= f.text_field :author %>      	
	    </div>
	    <%= f.submit "Add", class: "btn btn-large btn-primary pull-right" %>
	    </div>
	<% end %>
	</div>
<% end %>	
</div>