<%= render @user %>
<% if @user == current_user %>
	<%= form_for [@user,  @user.quotes.build] do |f| %>
	 	<%= render 'shared/error_messages', object: f.object %>
	 	<div><%= f.hidden_field :id %></div>
	    <div class = "field">
		  	<%= f.label "Quote" %>		
	      	<%= f.text_field :body %>
		  	<%= f.label "Author" %>		
	      	<%= f.text_field :author %>      	
	    </div>
	    <%= f.submit "Post", class: "btn btn-large btn-primary" %>
	<% end %>
<% end %>	
<h5> Quotes Bank </h5>
<%# debug @quotes %>
<ul>
	<%= render @quotes %>
</ul>