<%= render 'shared/userhead' %>
<div class="container">
	<div class="row">

	<%= render 'shared/shelves_sidebar' %>	
	  
	<div class="span9">

		<% if @reads.any? or @tracks.any? %>

			<% if @reads.any? %>

				<%= link_to_function Item::MEDIUM_ICON["read"].html_safe, "$('.bookshelf').toggle(500)" %>
				<div class = "bookshelf" >
					<ul class = "reads">
						<%= render @reads %>		
					</ul>	
				</div> 
			<% end %>
			<br>
			<% if @tracks.any? %>
				<%= link_to_function Item::MEDIUM_ICON["track"].html_safe, "$('.trackshelf').toggle(500)" %>
				<div class = "trackshelf" >
				<ul class = "reads">
					<%= render @tracks %>		
				</ul>	
				</div> 
			<% end %>
			<br>
			<% if @shows.any? %>
				<%= link_to_function Item::MEDIUM_ICON["show"].html_safe, "$('.showshelf').toggle(500)" %>
				<div class = "showshelf" >
				<ul class = "reads">
					<%= render @shows %>		
				</ul>	
				</div> 
			<% end %>					

	    <% else %>
	   	 No items on this shelf yet 	
		<% end %>

		<% if @user == current_user %> 
		<div class = "pull-right">
	    	<%= link_to "Add Read", new_user_shelf_item_path(@user, @shelf, medium: "read") %> <br>	
	    	<%= link_to "Add Track", new_user_shelf_item_path(@user, @shelf, medium: "track") %> <br>	
	    	<%= link_to "Add Film/Show", new_user_shelf_item_path(@user, @shelf, medium: "show") %> <br>
	    	<br>
	    	<%= link_to "Edit Shelf", edit_user_shelf_path(@user, @shelf) %>
	    	<br>
	    	<%= link_to "Delete Shelf", user_shelf_path(@user, @shelf), method: :delete, data: { confirm: "Delete Shelf and all Items?" } %>
	    </div>
	    <% end %>

	</div>

	</div> 
</div> 