<li>
	<div class="row">
	<div class="span1">	
	<% if track.image_url %>
		<%= link_to image_tag(track.image_url), track.url, :target => "_blank"  %>
	<% end %>
    </div>
	<div class="span6">
	<%= link_to track.title.html_safe, track.url, :target => "_blank"  %> <br>
    <%= track.artist.html_safe %> <br>    
    <br>
	<%= link_to "Stirred", user_shelf_track_feelings_path(current_user, @shelf, track), method: "post" if user_signed_in?%> 
    <% if user_signed_in? && (@user == current_user || current_user.friends.exists?(@user)) %>
		<br><%= link_to "Send Card", new_user_card_path(current_user, item_id: track.id, item_type: track.class, receiver_id: @user.id)  %> 	 
	<% end %>
	</div>


	
	<% if @user == current_user %>
	    <%= link_to "Delete", [current_user, @shelf, track] , method: :delete, data: { confirm: "You sure?" }, class: "pull-right" %> <br>	       
	<% end %>
	</div>
</li>
