<%= render 'shared/userhead' %>
<div class="container">
	<div class="row">

      <%= render 'shared/shelves_sidebar' %>	

	  <div class="span9">

			<h4>New Read</h4>
			<%= form_tag(new_user_shelf_read_path, method: "get" ) do %>
			  <%= label_tag(:author, "Author") %>
			  <%= text_field_tag :author , params[:author]%>  		
			  <%= label_tag(:title, "Title") %>
			  <%= text_field_tag :title, params[:title] %>
			  <br>
			  <%= submit_tag("Find",  class: "btn") %>

			<% end %>

			<% if @books && !@books.none? %>
				<ul class = "reads">
					<% @books.each do |book| %>
						<li>
					    <div class="row">
								<div class="span1">	
								<%= image_tag(book.image_link(zoom: 5)) %>
							    </div>
								<div class="span6">
								<%= book.authors %><br>
								<%= book.title   %><br>		
								<%= link_to "Add Read to Shelf", user_shelf_reads_path(@shelf, book_isbn: book.isbn ,book_author: book.authors, book_title: book.title, book_image_url: book.image_link(:zoom => 5)), method: "post" if !current_user.nil?%>
								</div>
							</div>
						</li>
					<% end %>	
				</ul>	
			<% end %>

	  </div>

	</div> 
</div> 
