<!-- OLD SCHOOL -->

<!-- <h2><%=  @user.name %></h2>
<% if @user.current_quote %>
	<p class = "current"><%= @user.current_quote.body %> - <%= @user.current_quote.author %></p>
<% end %>

<div class = "pull-right">
<% if @user.current_quote %>
	<% if @user == current_user %>
		<%= link_to "Change quote", user_quotes_path(current_user) %>
	<% else %>
		<%= link_to "See all meme quotes",  user_quotes_path(@user) %>
	<% end %>
<% else %>
	<% if @user == current_user %>
		<%= link_to "Add quote", user_quotes_path(current_user) %>
	<% end %>
<% end %>
</div>

<br>
<h5> Favorate Reads </h5>
<ul class = "quotes">
	<%= render @reads %>	
</ul>	
<%= will_paginate @reads%> -->


