<%= render 'shared/userhead' %>
<div class="container">
	<div class="row">
	  <% if @friends.any? %>	
	      <div class="span9">
	      	<ul class = "reads">
			  	<% @friends.each do |friend| %>
			  	<li class = "reads">
			  		<%= link_to friend.name, user_path(friend) %>	  		
			  	</li>
			  	<% end %>
		  	<ul class = "reads">
		  </div>
	  <% end %>
	  <% if @friendships_pend.any? %>
		  <div class="span3">
		  	<h5> Received Friend Requests </h5>
		  	    <% @friendships_pend.each do |pend| %>
			  	<li class = "reads">
			  		<%= link_to pend.friend.name, user_path(pend.friend) %>
			  		(<%= link_to "Confirm Friend", user_friendship_path(current_user, pend, friend_id: pend.friend), method: "put" %>)
			  	</li>
			  	<% end %>
		  </div>
	  <% end %>

	  <% if @friendships_req.any? %>
		  <div class="span3">
		  	<h5> Sent Friend Requests (Waiting) </h5>
		  	    <% @friendships_req.each do |req| %>
			  	<li class = "reads">
			  		<%= link_to req.friend.name, user_path(req.friend) %>
			  	</li>
			  	<% end %>
		  </div>
	  <% end %>	  


	</div> 
</div> 