<h2>Books</h2>
<%= form_tag(books_path, method: "get") do %>
  <%= label_tag(:title, "Title") %>
  <%= text_field_tag(:title) %>
  <%= label_tag(:author, "Author") %>
  <%= text_field_tag(:author) %>  
  <br>
  <%= submit_tag("Find",  class: "btn") %>

<% end %>

<% if @books && !@books.none? %>
	<ul class = "quotes">
	<% @books.each do |book| %>
		<li>
	    <div class="row">
			<div class="span1">	
			<%= image_tag(book.image_link(zoom: 5)) %>
		    </div>
			<div class="span6">
			<%= book.authors %><br>
			<%= book.title   %><br>		
			<%= link_to "Add Read", new_user_read_path(current_user, book_isbn: book.isbn ,book_author: book.authors, book_title: book.title, book_image_url: book.image_link(:zoom => 5)) if !current_user.nil?%>
			</div>
		</div>
		</li>
	<% end %>	
	</ul>	
<% end %>

