<div class="row">							    
	<div class="span1">	
		<%= link_to image_tag(@item.image_url), @item.url, :target => "_blank"  if @item.image_url %>
	</div>
	<div class="span4">		
		<%= Item::MEDIUM_ICON[@item.medium].html_safe%> <%= link_to @item.title.html_safe, user_shelf_path(@item.shelf.user, @item.shelf), :target => "_blank"  %> <br>
		<%= @item.creator.html_safe %> 	
		<br>
		Shelf: <%= link_to @item.shelf.name, user_shelf_path(@item.shelf.user, @item.shelf)%>  
		User:  <%= link_to @item.shelf.user.name, user_path(@item.shelf.user)  %>  
		<br><br>
		<%= link_to "Send Card", new_user_card_path(current_user, item_id: @item.id, receiver_id: @user.id) unless request.path.include?('card') if user_signed_in? %>
	</div>	 
</div>				
