<li class = "reads">
	<div class="row">	
		<div class="span5">	
			From: <%= card.sender.name %> <br>
			To: <%= card.receiver.name %> <br>
			<%= card.message %><br>
			<small> <%= card.created_at.strftime("%I:%M%p %m/%d/%Y") %> </small>
		</div>
	</div>	
	<br>	

	<% @item = Item.find(card.item_id) %>
	<%= render "items/shelfitem", object: @item %>				

	<%= link_to "Delete", [current_user, card] , method: :delete, data: { confirm: "You sure?" }, class: "pull-right"  if card.receiver_id == current_user.id%> 	

				
</li>