<% if @receiver %>
	<h2> Card to <%= @receiver.name %> </h2><br>
<% end %>

<%= render "items/shelfitem", object: @item %>	

<br>
<div class="row">	
	<div class="span12">	
	<%= form_for [current_user, @card], url:user_cards_path(current_user) do |f| %>
	  <%= render 'shared/error_messages', object: f.object %>
	  <%= f.hidden_field :item_id, value: params[:item_id] %>
	  <% if @receiver %>
	  	<%= f.hidden_field :receiver_id, value: params[:receiver_id] %>     
	  <% else %>
	    <%= f.label :receiver_id %>
	  	<%= f.text_field :receiver_id %>
		<% end %>	
		<%= f.label :message %>
		<%= f.text_area :message, :cols => "40", :rows => "5"%>
		<br>
	  <%= f.submit %>
	<% end %>
	</div>	
</div>