<!-- <p><%= name %><p> -->
<li id = "index-<%= id %>" >
  <a  href="#/<%= id %>"><%= name %></a> 
  <!-- <a href="#" data-dropdown="hover1" data-options="is_hover:true">  Has Hover Dropdown</a> -->

<!-- <td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit" >Edit</td> -->
  <!-- <a href="#/<%= id %>/destroy" class="destroy">Destroy</a> -->
</li>